<div 
	id="footer"
	class = "w-full min-h-[100px] absolute bottom-0 left-0 right-0
	bg-black"
>	
	<div class = "block whitespace-nowrap mx-auto text-center">
		<% var year = new Date().getFullYear();%>
		<div class = "text-center text-[#ffffff] mt-5 text-2xl">Blog &copy;<%=year %></div>
	</div>
</div>