<div id = "MobileMenu" class = "bg-white w-[280px] h-full text-center text-black z-50 fixed 
	right-0 top-0 font-bold closed-menu [&>div]:select-none bg-[length:100%_100%] 
	text-2xl overflow-y-scroll">
	<div 
		class = "mt-10 cursor-pointer hover:underline hover:text-gray-500 active:font-bold" 
		onclick="location.href='/'">Home</div>
	<div 
		class = "my-5 cursor-pointer hover:underline hover:text-gray-500 active:font-bold"
		onclick="closeMobileMenu()">Close Menu</div>
</div>